.rightElement {
  margin-left: auto !important;
}

.resetButton {
  color: #ff0000;
  font-weight: 600;
  user-select: none;
}

.resetButton:hover {
  background: #ff0000 !important;
}

.startButton {
  color: #1d8f35;
  font-weight: 600;
  user-select: none;
}

.startButton:hover {
  background: #1d8f35 !important;
}

.controlButtons {
  font-weight: 600;
  user-select: none;
}

.controlButtons:hover {
  background: #5f6ce1 !important;
}
