.container {
  border: 2px solid;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvasContainer {
  border: 1px solid;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */

  /* background-color: rgb(0, 203, 239); */
}

.segment {
  outline: 1px solid;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  background-color: #393E46;
}

.segment p:hover {
  cursor: default;
}

.segment:hover {
  background-color: #635985;
}

.buttonContainer {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.buttons {
  border-radius: 12px;

  font-weight: 600;
  font-size: 0.75rem;
  text-align: center;

  padding: 10px 20px;
  width:10rem;

  background: #2B2E4A;
  border: 1px solid #5f6ce1;
  color: #5f6ce1;
  transition: 0.3s;

  flex-basis: 16%;
}

.buttons:hover {
  color: #ffffff;
  background: #5f6ce1;
  cursor: pointer;
}

.resetButton {
  color: #ff0000;
  border: 2px solid #ff0000;
}

.resetButton:hover {
  background: #ff0000;
}

.startButton {
  color: #1d8f35;
  border: 2px solid #1d8f35;
}

.startButton:hover {
  background: #1d8f35;
}