.container {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.segment {
  /* outline: 1px solid; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 2px 2px 4px black;
}

.segmentDarkMode {
  background-color: #393e46;
}

.segmentSetBeginning:hover {
  background: #1d8f35 !important;
  box-shadow: none;
}

.segmentSetDestination:hover {
  background: red !important;
  box-shadow: none;
}

.segment p:hover {
  cursor: default;
}

.segment:hover {
  background-color: #9AC5F4;
}

.buttonContainer {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

div.segment > img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}
